*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("bg img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}
.main-div{
  height: 50vh;
}
.sub-main{
    margin: 245px 470px;
    text-align: center;
    border: 2px solid grey;
    box-shadow: 2px 2px 15px gray ;
    height: 125px;
    width: 400px;
    padding-top: 10px;
}
.sub-main span{
    color: #fff;
    font-size: 40px;
    padding-right: 10px;
    font-weight: 900;
}
#btn{
    display: block;
    padding: 10px;
    background-color: cornflowerblue;
    margin: 10px auto;
    border-radius: 5px;
    color: #fff;
}